* {
    margin : 0; 
    box-sizing: 0;
}

div{
    width: 50 50;
    flex-wrap: wrap;
    background-color: gainsboro;
    margin: 0;
    box-sizing: inherit;
    padding: 0;
    align-content: center;
    border-radius: 3px;  
}

button{
    background:pink;
    border: 0;
}